<div class="hero-section-container">
  <div class="content-container">
    <p class="promo-date">{{section.settings.promo_date_text | upcase}}</p>
    <h2 class="promo-title">{{section.settings.promo_title_text | upcase}}</h2>
    <p class="promo-details">{{section.settings.promo_details_text}}</p>
    <div class="promo-cta-container">
      <a href="/collections/bracelets" class="btn promo-cta">SHOP NOW</a>
      <a href="/pages/promotion-conditions" class="btn promo-cta">INFO</a>
    </div>
  </div>
</div>
{%schema%}
{
  "name": "Hero Image & Text Overlay",
  "settings": [
    {
      "id": "promo_date_text",
      "label": "Text",
      "type": "text",
      "default": "only until thursday"
    },
    {
      "id": "promo_title_text",
      "label": "Title",
      "type": "text",
      "default": "nice & stylish"
    },
    {
      "id": "promo_details_text",
      "label": "Details",
      "type": "text",
      "default": "20% discount on all bracelets"
    }
  ],
  "presets": [{
    "name": "Hero Overlay"
  }]
}
{%endschema%}